<div class="header">
    <div class="title"><a href="/">CHAOS Engineer</a></div>
    <button class="button flex1" id="autoPilotButton">Start</button>
    <button class="button flex1"><a href="/config">Config</a></button>
    <button class="button flex1" ><a href="/chaos">Chaos</a></button>    
    <button class="button flex1"><a href="/telemetry">Telemetry</a></button>
    <%- include ('./memory') %>
  </div>