<div class="header">
  <a href="/"><div class="title">CHAOS Dragon</div></a>
    <button class="button flex1" id="autoPilotButton">Start</button>
    <a href="/config"><button class="button flex1">Config</button></a>
    <a href="/chaos"><button class="button flex1" >Chaos</button></a>
    <a href="/telemetry"><button class="button flex1">Telemetry</button></a>
    <%- include ('./memory') %>
  </div>