<div class="header">
    <div class="title">CHAOS</div>
    <button class="button"><a href="/config">Config</a></button>
    <button class="button"><a href="/chaos">Create Chaos</a></button>
    <button class="button"><a href="/telemetry">Telemetry</a></button>
  </div>