<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos</title>
    <%- include ('partials/headcontent.ejs') %>
        <script src="/js/agent.js"></script>

</head>

<body>
    <%- include('partials/header') %>
        <div class="main">
            
            <div class="submenu">
                <h3>Agents</h3>
                <div class="slidecontainer">
                    <label for="agentFrequency" class="controlLabel">Speed</label>
                    <input type="range" min="1" max="1000" value="20" class="slider" id="agentFrequency">
                    <input type="text" id="frequencyValue" class="sliderInput" value="20" readonly>
                </div>
            </div>
            <script src="/js/agentman.js"></script>
            <div id="agents">
                <% data.forEach( datum=> { %>
                    <%- include ('partials/activity', {datum: datum}); %>
                        <% }) %>
            </div>
        </div>
        <%- include('./telemetry') %>
            <script src="/js/telemetry.js"></script>
            <script src="/js/memory.js"></script>

</body>

</html>