<div id="telemetryContainer">
    <input type="checkbox" id="toggleMetrics" checked /> Metrics Enabled
    <canvas id="chaosChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>