<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos Dragon Telemetry</title>
    <%- include('partials/headcontent') %>
</head>

<body>
    <%- include('partials/header') %>


        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>

        <script>
            const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
            const yValues = [55, 49, 44, 24, 15];
            const myChart = new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        data: yValues
                    }, {
                        data: [16, 17, 17, 19, 20, 27, 40, 50, 60, 70],
                        borderColor: "green",
                        fill: false
                    }]
                },
                options: {}
            });
        </script>


</body>

</html>