
.activity {
    display: flex;
    flex-direction: row;   
    
    padding-bottom: 2px;
    padding-top: 2px;
    height: 50px;
    flex:2;
}

div.container > div:nth-of-type(odd) {
    background: #e0e0e0;
}

div.container > div:nth-of-type(even) {
    background: #10e0e0;
}

.result {
    background-color: rgb(192, 192, 192);
    border-width: 0;
}

.vstack {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.checkbox {
    width: 45px;
}


.active {
    background-color: #588a63;
}

.error {
    background-color: #8d2d2d;
}