
.activity {
    display: flex;
    flex-direction: row;   
    background-color: var(--c-gray-800);
    padding-bottom: 2px;
    margin-bottom: 1px;
    padding-top: 2px;
    height: 50px;
    flex:2;
    border-radius: 5px;;
}


.result {
    background-color: rgb(192, 192, 192);
    border-width: 0;
}

.vstack {
    display: flex;
    flex-direction: column;
    flex: 4;
}



.active {
    background-color: #45ffbc;
}

.error {
    background-color: #8d2d2d;
}

#telemetryContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;    
}